@import url(vendor/normalize.css);
@import url(vendor/fonts.css);

/*Common styles*/
html,
body {
    height: 100%;
    width: 100%;
}
.root {
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

/*Header styles*/
.header-main {
    top: 0px;
    left: 0px;
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: solid black 5px;
    display: flex;
    flex-direction: column;
}
.header-main__top-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.header-main__logo {
    display: flex;
    flex-direction: row;
}
.header-main__logo__text {
    font-size: 48px;
    font-family: "PlayfairDisplay";
    font-weight: 900;
    font-style: normal;
    align-self: center;
    margin: 10px 25px;
}
.header-main__logo__image {
    width: auto;
    height: 70px;
    margin: 5px 25px;
}

/*Profile styles*/
.header-main__profile-info {
    margin-left: auto;
    margin-right: 10px;
}

/*Navigation styles*/
.navigation-main {
    clear: both;
}
.navigation-main ul {
    list-style-type: none;
    margin: 0px;
}
.navigation-main ul li {
    display: inline;
    margin: 5px;
}

/*Footer styles*/
.footer-main {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-top: 5px solid black;
    height: 50px;
    flex-wrap: wrap;
    font-size: 14px;
}
.footer-main__contacts {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.footer-main__contacts p {
    margin: 0 5px;
}
